body {
    overflow-x: hidden;
    width: 100%;
}
header {
    padding: 0%;
    margin: 0%;
}
.topNav {
    display: flex;
    flex-direction: row;
    background-color: #67819A;
    justify-content: right;
    width: 100vw;
    top: 0;
    flex-wrap: wrap;
}
.topNav a {
    text-decoration: none;
    padding: 1%;
    color: white;
    font-size: 100%;
    padding-left: 2%;
    padding-right: 2%;
}
.topNav a:hover{
    text-decoration: underline;
    background-color: #bababa;
}
.portfolioLink {
    display: none;
}
.portfolioBtn:hover .portfolioLink {
    display: block;
    position: absolute;
}
.active {
    text-decoration: underline;
}
#burger {
    display: none;
    cursor: pointer;
}
.pageLink {
    display: block;
}
main {
    margin-left: 5%;
    margin-right: 5%;
}
#carousel {
    display: flex;
    flex-direction: row;
}
img {
    max-width: 50%;
    object-fit: contain;
}
footer {
    width: 100%;
    background-color: #67819A;
    bottom: 0;
    padding: 1%;
    position: relative;
}
footer a {
    color: white;
    text-decoration: none;
    padding: 1%;
}
footer a:hover {
    text-decoration: underline;
}

/*Large Tablet*/
@media screen and (max-width:992px) {
    
}
/*Medium Tablet*/
@media screen and (max-width:768px) {
    .topNav{
        flex-direction: column;
    }
    .topBar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .pageLink{
        display: none;

    }
    #burger {
        display: block;
        z-index: 3;

    }
    #burger div {
        width: 20px;
        height: 5px;
        background-color: black;
        margin: 5px;
    }

    
}
/*Mobile*/
@media screen and (max-width:480px) {
    
}