html {
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
    width: 100%;
    margin: 0%;
}
header {
    padding: 0%;
    margin: 0%;
}
.topNav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100vw;
    top: 0;
    padding-left: 3%;
    background-color: #67819A;
}
.topNav a {
    text-decoration: none;
    padding: 1%;
    color: white;
    font-size: large;
    padding-left: 2%;
    padding-right: 2%;
}
.topNav a:hover{
    text-decoration: underline;
    background-color: #bababa;
}
.topBar {
    background-color: #67819A;
}
#home {
    text-align: center;
}
#burger {
    display: none;
    cursor: context-menu;
}
#fullPageLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    padding-left: 5%;
    height: 8%;
}
.pageLink {
    text-align: center;
    color: white;
    display: block;
}
.dropDown{
    width: fit-content;
}
.portfolioHover {
    background-color: #67819A;
    border: 0px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    height: auto;
}
.dropDown:hover .portfolioLinksDP {
    display: flex;
    flex-direction: column;
    background-color: #67819A;
    height: fit-content;
}
.portfolioLinksDP {
    display: none;
    height: fit-content;
}
.portfolioLinksDP:hover {
    display: flex;
}
.portfolioLinks {
    display: none;
}
.activeLink {
    text-decoration: underline;
}
main {
    margin-left: 5%;
    margin-right: 5%;
}
.fullCarousel {
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.carousel {
    position: relative;
    max-width: fit-content;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
img {
    width: 60vw;
    height: 40vh;
    object-fit: cover;
}
.card {
    display: none;
}
.backward, .forward {
    cursor: pointer;
    position: absolute;
    width: auto;
    top: 40%;
    padding: 1vw;
    color: rgb(255, 255, 255); 
    mix-blend-mode: difference;
    font-size: x-large;
    transition: 0.5s ease;
    user-select: none;
}
.forward {
    right: 0;
}
.backward:hover, .forward:hover {
    color: #bababa;
    font-size: xx-large;
}
.caption {
    color: white;
    font-size: medium;
    position: absolute;
    bottom: 1vw;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255); 
    mix-blend-mode: difference;
}
.circle {
    cursor: pointer;
    height: 1vh;
    width: 1vh;
    margin: 0 0.25vh;
    background-color: #bababa;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}
.on, .circle:hover {
    background-color: #676767;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .5;
    }
    to {
        opacity: 2;
    }
}
@keyframes fade {
    from {
        opacity: .5;
    }
    to {
        opacity: 2;
    }
}
.topResume {
    display: flex;
    justify-content: space-between;
}
.topResumeLeft {
    flex-direction: column;
}
.topResumeRight{
    flex-direction: column;
}
form {
    background-color: #67819A;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 2%;
}
form input:not([name="name"]) {
    margin-top: 1%;
}
form input {
    font-size: medium;
}
form input[name="message"] {
    height: 15em;
    margin-top: 1%;
    font-size: medium;
}
form input[name="submit"] {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: black;

}
form input[name="submit"]:hover {
    background-color: #bababa;
    color: white;
}
footer {
    width: 100vw;
    background-color: #67819A;
    bottom: 0;
    padding: 1%;
    position: relative;
    margin-bottom: 0vh;
}
footer a {
    color: white;
    text-decoration: none;
    padding: 1%;
}
footer a:hover {
    text-decoration: underline;
}
.footerText {
    color: white;
    font-size: small;
    padding-left: 1%;
}
/*Large Tablet*/
@media screen and (max-width:992px) {
    p {
        font-size: larger;
    }
}
/*Medium Tablet*/
@media screen and (max-width:768px) {
    .topNav{
        flex-direction: column;
        justify-content: right;
        padding-left: 0%;
    }
    .topBar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #fullPageLinks{
        display: none;
        height: fit-content;
        padding-left: 1%;
        background-color: #67819A;
        width: 100%;
    }
    #burger {
        display: block;
        z-index: 3;
        cursor: pointer;
    }
    #burger div {
        width: 20px;
        height: 5px;
        background-color: black;
        margin: 5px;
    }
    .dropDown {
        display: none;
    }
    .pageLink {
        display: block;
        text-align: left;
    }
    .portfolioLinks {
        display: flex;
        flex-direction: column;
    }
    .portfolioHover {
        display: none;
    }
    .topResume h3{
        font-size: larger;
    }
    article ul{
        font-size: larger;
    }
    article h3 {
        font-size: larger;
    }
    article b {
        font-size: larger;
    }
    article p {
        font-size: large;
    }
    footer {
        display: flex;
        flex-wrap: wrap;
    }
}
/*Mobile*/
@media screen and (max-width:480px) {
    .topNav {
        font-size: x-large;
    }
    p {
        font-size: x-large;
    }
    article ul{
        font-size: x-large;
    }
    article h3 {
        font-size: x-large;
    }
    article b {
        font-size: x-large;
    }
    footer {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}