html {
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
    width: 100%;
    margin: 0%;
}
header {
    padding: 0%;
    margin: 0%;
}
.topNav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100vw;
    top: 0;
    padding-left: 3%;
    background-color: #67819A;
}
.topNav a {
    text-decoration: none;
    padding: 1%;
    color: white;
    font-size: large;
    padding-left: 2%;
    padding-right: 2%;
}
.topNav a:hover{
    text-decoration: underline;
    background-color: #bababa;
}
.topBar {
    background-color: #67819A;
}
#home {
    text-align: center;
}
#burger {
    display: none;
    cursor: context-menu;
}
#fullPageLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    padding-left: 5%;
    height: 8%;
}
.pageLink {
    text-align: center;
    color: white;
    display: block;
}
.dropDown{
    width: fit-content;
}
.portfolioHover {
    background-color: #67819A;
    border: 0px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    height: auto;
}
.dropDown:hover .portfolioLinksDP {
    display: flex;
    flex-direction: column;
    background-color: #67819A;
    height: fit-content;
}
.portfolioLinksDP {
    display: none;
    height: fit-content;
}
.portfolioLinksDP:hover {
    display: flex;
}
.portfolioLinks {
    display: none;
}
.active {
    text-decoration: underline;
}
main {
    margin-left: 5%;
    margin-right: 5%;
}
#carousel {
    display: flex;
    flex-direction: row;
}
img {
    width: 50vw;
    height: 30vh;
    object-fit: contain;
}
.topResume {
    display: flex;
    justify-content: space-between;
}
.topResumeLeft {
    flex-direction: column;
}
.topResumeRight{
    flex-direction: column;
}
footer {
    width: 100vw;
    background-color: #67819A;
    bottom: 0;
    padding: 1%;
    position: relative;
    margin-bottom: 0vh;
}
footer a {
    color: white;
    text-decoration: none;
    padding: 1%;
}
footer a:hover {
    text-decoration: underline;
}
.footerText {
    color: white;
    font-size: small;
    padding-left: 1%;
}
/*Large Tablet*/
@media screen and (max-width:992px) {
    p {
        font-size: larger;
    }
}
/*Medium Tablet*/
@media screen and (max-width:768px) {
    .topNav{
        flex-direction: column;
        justify-content: right;
        padding-left: 0%;
    }
    .topBar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #fullPageLinks{
        display: none;
        height: fit-content;
        padding-left: 1%;
        background-color: #67819A;
        width: 100%;
    }
    #burger {
        display: block;
        z-index: 3;
        cursor: pointer;
    }
    #burger div {
        width: 20px;
        height: 5px;
        background-color: black;
        margin: 5px;
    }
    .dropDown {
        display: none;
    }
    .pageLink {
        display: block;
        text-align: left;
    }
    .portfolioLinks {
        display: flex;
        flex-direction: column;
    }
    .portfolioHover {
        display: none;
    }
    .topResume h3{
        font-size: larger;
    }
    article ul{
        font-size: larger;
    }
    article h3 {
        font-size: larger;
    }
    article b {
        font-size: larger;
    }
    article p {
        font-size: large;
    }
    footer {
        display: flex;
        flex-wrap: wrap;
    }
}
/*Mobile*/
@media screen and (max-width:480px) {
    .topNav {
        font-size: x-large;
    }
    p {
        font-size: x-large;
    }
    article ul{
        font-size: x-large;
    }
    article h3 {
        font-size: x-large;
    }
    article b {
        font-size: x-large;
    }
    footer {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}